button {
  background-color: #846a8b;
  color: white;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: 0 auto;
  font-family: 'Martel Sans', sans-serif;
  padding: 0.3rem 0.5rem 0.2rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Martel Sans', sans-serif;
}

button:hover {
  background-color: #a492a9;
}

div.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

div.buttons.center { 
  justify-content: center;
}
div.buttons.left { 
  justify-content: flex-start;
}
div.buttons button {
  margin-left: 0;
  margin-right: 0;
  width: fit-content;
}

button.inactive {
  opacity: 50%;
}

@media screen and (min-width: 768px) {

  #faq-form.textarea-form button {
    width: 10%;
  }
}
