/* ================ TICKET CARDS ======================== */

:root {
  --nr-cards: 4;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-actions {
  margin: 8px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#loader {
  display: flex;
  /* flex-flow: column wrap; */
  flex-wrap: nowrap;
  overflow: hidden;
}
.skeleton-card {
  /* width: calc((100% / var(--nr-cards)) - 16px); */
  transition: all 200ms ease-in-out;
  position: relative;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 18.75rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
  width: 13rem;
}
.skeleton-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: load 1s infinite;
}
@keyframes load {
  100% {
    transform: translateX(100%);
  }
}


/* ================ Priorities ======================== */

.highP {
  background-color: #ff4d4d;
}

.mediumP {
  background-color: #ffad33;
}

.lowP {
  background-color: #00b300;
} 


/* ================ INDIVIDUAL CARD ======================== */


.card {
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 18.75rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
  width: 13rem;
  /* width: calc((100% / var(--nr-cards)) - 16px); */
  position: relative;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

 /*info*/

.card article {
  font-size: 14px;
  height: 18.75rem;
  /* width: 13rem; */
  width: 100%;
}

.card article div {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.card article div span {
  align-self: center;
  margin: 5px;
}

.card article div span.card-hashtags{
  background-color: #ddd;
  padding: 1px 6px;
  border-radius: 5px;
}

.card article header{
  display: flex;
  flex-direction: row;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #846a8b;
  color: white;  
  /* width: 13rem; */
  width: 100%;
}

.card article header span {
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 1rem;
}

.card article label {
  font-weight: bold;
}

.card a {
  text-decoration: none;
  color: black;
}

