/* ========================== FILTER TICKETS ========================== */

.menu {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px 20px 20px 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.filter-header {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-options div {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  flex-basis: 100%;
}

div.filter-options section {
  display: contents;
}

.filter-options input[type="checkbox"] {
  display: none;
}

.filter-options label {
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #555;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  transition: background-color 0.2s ease-in-out;
}

.filter-options label:hover {
  background-color: #ddd;
}

.filter-options input[type="checkbox"]:checked+label {
  background-color: var(--our-purple);
  color: #fff;
}

.menu button {
  padding: 0.5rem 1rem;
}

section.filter-section.hidden {
  display: none;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle h2 {
  margin: 0;
}

/* show filter section when user clicks on filter header */
.dropdown-toggle.clicked + section.filter-section {
  display: block;
  width: auto;
}

section.filter-section div.filter-options div.clicked + section {
  display: contents;
}

.dropdown-toggle h3 {
  font-size: 1.5em;
}

.filter-manage-hashtag-grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 8rem auto;
  grid-template-areas:
  "filter-title  button"
  "filter-section filter-section";
}

.filter-manage-hashtag-grid button{
  margin: 0 0.5rem;
}
.filter-manage-hashtag-grid > button {
  grid-area: button;
  justify-self: right;
  height: fit-content;
  margin: auto;
  margin-right: 0%;
}
.filter-manage-hashtag-grid #filter-title {
  grid-area: filter-title;
}
.filter-manage-hashtag-grid #filter-section {
  grid-area: filter-section;
}
