/* ========================== FILTER TICKETS ========================== */

.filter {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px 20px 20px 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.filter-header {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-options legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  flex-basis: 100%;
}

.filter-options input[type="checkbox"] {
  display: none;
}

.filter-options label {
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #555;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  transition: background-color 0.2s ease-in-out;
}

.filter-options label:hover {
  background-color: #ddd;
}

.filter-options input[type="checkbox"]:checked+label {
  background-color: #846a8b;
  color: #fff;
}

.filter button {
  padding: 0.5rem 1rem;
}

.filter button:hover {
  background-color: #a492a9;
}

/*dropdown*/

section#filter-section.hidden {
  display: none;
}

.filter-toggle {
  cursor: pointer;
}

.filter-toggle h2 {
  margin: 0;
}

/* show filter section when user clicks on filter header */
.filter-toggle.clicked + section#filter-section.filter {
  display: block;
}
