/* =========================== TICKET TITLE/DESCRIPTION ============================ */
#individual-ticket #ticket-title {
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
}
#individual-ticket #ticket-description {
    margin: 0 auto;       
    background: #F5F5F5;
    margin-bottom: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /*0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;

    /* padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em; */
    padding: 1em;
}

#individual-ticket h3 {
    margin: 0 auto;
}

/* =========================== TICKET STATUS ============================ */
#individual-ticket #ticket-status {
    margin-right: 5%;
    height: 2em;
    padding: 0.6em 1.2em 0.3em; /* top, sides, bottom */
    text-transform: uppercase;
    border-radius: 10px;
    align-self: right;
}
#individual-ticket #ticket-status.open, #individual-ticket #ticket-status.in-progress {
    background-color: rgba(255, 255, 255, 0.138);
    border: 2px solid white;
}

#individual-ticket #ticket-status.closed {
    background-color: var(--closed-red);
}

/* =========================== CONTAINER TICKET INFO ============================ */
#container-ticket-info {
    /* position: relative; */
    width: 30rem;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 3rem;
}
/* ================================ TICKET INFO ================================== */
#ticket-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "header     header"
        "created    created"
        "priority   priority"
        "hashtags   hashtags"
        "department department"
        "agent      agent"
        "save       close";
    border-radius: 20px;
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    background-color: #f5f5f5;
    /* margin: 0.5em; */
    width: 100%;
}

#ticket-info header {
    grid-area: header;
}
#ticket-info #priority {
    grid-area: priority;
}
#ticket-info #department {
    grid-area: department;
}
#ticket-info #agent {
    grid-area: agent;
}
#ticket-info #hashtags {
    grid-area: hashtags;
}
#ticket-info button#update-ticket {
    grid-area: save;
}
#ticket-info button#close-ticket.close-agent {
    grid-area: close;
}

#ticket-info #reopen-ticket-form, #ticket-info button#close-ticket.close-client {
    grid-row: 7 / 8;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ticket-info #ticket-created {
    grid-area: created;
}

/* ========================= TICKET INFO HEADER ========================= */
#ticket-info header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #846a8b;
    color: white;  
    /* width: 30rem; */
    width: 100%;
}
#ticket-info header h3 {
    margin: 1rem 0 1rem 1rem;
    font-size: 1.4em;
}
/* ======================== TICKET CHANGE PRIORITY ======================== */
#ticket-info #priority {
    padding-left: 1em;
}

/* ======================== TICKET CHANGE DEPARTMENT ======================== */
#ticket-info #department, #ticket-info #agent {
    padding-left: 1em;
}

/* ======================== CLOSE BUTTON ======================== */
#ticket-info button#close-ticket {
    padding: 0.5em 1em;
}

/* fieldset#priority.create-ticket label.radio-button {} */

/* ======================== FIELDSET STYLING - create ticket ======================== */
fieldset {
    border: none;
  }
  fieldset legend {
    align-self: center;
  }
  fieldset#priority {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  fieldset#priority label.radio-button {
    background-color: #53536e;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    flex-grow: 1;
    text-align: center;
  }
  
  fieldset#priority label:hover {
    opacity: 80%;
  }
  
  fieldset#priority input[type="radio"] {
    display: none;
  }
  fieldset#priority input[type="radio"]:checked + label[for=high].radio-button {
    background-color: #a82431;  
    color: white;
  }
  fieldset#priority input[type="radio"]:checked + label[for=medium].radio-button {
    background-color: rgb(208, 179, 14);
    color: white;
  }
  fieldset#priority input[type="radio"]:checked + label[for=low].radio-button {
    background-color: #155724; 
    color: white;
  }
 
  
/* ======================== DROPDOWN SELECT ======================== */
label select {
    padding: 0.2em 1em 0 1em;
    color: black;
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Martel Sans', sans-serif;
    
    margin-top: 6px;
    margin-bottom: 1rem;
    /* color: white; */
    /* background-color: #23232e; */
    cursor: pointer;

    height: 2rem;
    justify-content: center;
  }
  
  
  /* ============================= HASHTAGS =========================== */
  #hashtag-items article.hashtag {
    border:rgba(0, 0, 0, 0.5) 1px solid;
    border-radius: 5px;
    background-color: #53536e;
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  
  #hashtags .hashtag a.remove-hashtag {
    text-decoration: none;
    color: white;
    border-left: white 1px solid;
    padding: 0.3rem 0.5rem;
    margin-left: 0.3rem;
    cursor: pointer;
  }
  
/* ======================= TICKET INFO BUTTONS ======================= */
#ticket-info button {
    margin: 0.5em auto;
    /* padding: 0.2em 1em; */
  }
  
/* ======================== TICKET CREATED (USER AND DATE) ======================== */
#ticket-info #ticket-created {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ticket-info #ticket-user, #ticket-info #ticket-date {
    margin: 0.5em 1em;
    color: black;
    font-weight: bold;
}
#ticket-info #ticket-user:before, #ticket-info #ticket-date:before {
    opacity: 60%;
}
#ticket-info #ticket-user:before {
    content: "Created by: ";
}
#ticket-info #ticket-date:before {
    content: "at ";
}
/* ======================== MARGINS FOR TICKET INFO ======================== */
#ticket-info #hashtags, #ticket-info #priority, #ticket-info #department, #ticket-info #agent, #ticket-info #ticket-created{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/* ======================== REOPEN TICKET FORM/BUTTON ======================== */

#ticket-info #reopen-ticket-form button#reopen-ticket {
    padding: 0.5em 1em;
}

/* ======================== TICKET MESSAGE LIST ======================== */
.column-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

.message {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header     header"
        "text       text";
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.message header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.message .message-body {
    grid-area: text;
}
.message p.text {
    margin: 0;
    white-space: pre-wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.message .date {
    text-align: right;
    grid-area: date;
}
.message .user, .message .date, .message p.text{
    padding-left: 1em;
    padding-right: 1em;
}
.message .user, .message .date {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.message .date::before {
    content: "Published at ";
}

.message.self header {
    background-color: #23232E;
    color: white;
}
.message.original-poster header {
    background-color: #846a8b;
    color: white;
}
.message.other header {
    background-color: #53536E;
    color: white;
}

.message .message-body {
    background-color: #F5F5F5;
    margin: 0;
}
.message.has-image .message-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.message.has-image .message-body button.view-image {
    margin: 0 auto 0.3rem;
    align-self: flex-end;
}

.message.has-image .image-container:not(.d-none) {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
}
.message.has-image .image-container img {
    max-width: 100%;
}
.message.has-image .image-container button {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
}

/* ======================== MESSAGE FORM ======================== */
/* Similar to FAQs form but has file input */
#message-form[hidden] {
    display: none;
}
#message-form {
    display: grid;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    ".          file-input"
    "label      file-input"
    "textarea   textarea"
    "buttons    buttons"
}
#message-form > label {
    grid-area: label;
}
#message-form #file-input-wrapper {
    grid-area: file-input;
}
#message-form #file-input-wrapper button {
    width: fit-content;
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
}
#message-form textarea{
    grid-area: textarea;
}
#message-form div.buttons {
    grid-area: buttons;
}

/* ======================== RESPONSIVENESS ======================== */


/* For mobile devices -> ATÉ 600 */
@media only screen and (max-width: 600px) {
    #container-ticket-info {
        max-width: 90vw;
    }
    .message.has-image .image-container:not(.d-none) {
        max-width: 95vw;
        max-height: 95vh;
        width: 100%;
    }
    .message.has-image .image-container button {
        display: none;
    }
  }
  
  /* For tablet devices -> 600 A 961*/
@media only screen and (max-width: 961px) {
 
}
  /* For desktop devices -> A PARTIR DE 961*/
@media only screen and (min-width: 961px) {
}


/* ======================== CREATE TICKET FORM ======================== */


.createticket {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    align-items: start; 
  }
  
  .createticket label {
    /* font-weight: bold; */
    align-self: center ;
  }
  
  .createticket input[type="text"],
  .createticket select,
  .createticket textarea {
    /* padding: 0.5rem; */
    padding: 0.2em 1em 0 1em;
    color: black;
    font-size: 0.8rem;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    border: 1px solid black;
    border-radius: 5px;
    /* box-shadow:  0 5px 15px rgba(0, 0, 0, 0.3);  */
    font-family: 'Martel Sans', sans-serif;
    /* margin-top: 6px; */
    /* margin-bottom: 1rem; */
  }
  
  /* .createticket input[type="text"],
  .createticket select {
    width: 95%;
  } */
  
  .createticket textarea {
    width: 95%;
    resize: vertical;
  }
  
  
  .createticket label,
  .createticket input[type="text"],
  .createticket select,
  .createticket textarea,
  .createticket button[type='submit'] {
    grid-column: 1;
  }
  
  
  .createticket option {
    background-color: #f5f5f5;
    color:black;
  }
  
  .createticket input[type="text"],
  
  
  .createticket button.submit-ticket {
    /* background-color: #53536e;   */
    /* color: white; */
    border-radius: 5px;
    padding: 0.5em;
  }
  
  
  .createticket ::placeholder {
    color: #aaa;
  }
  
  .createticket fieldset#hashtags .create-ticket {
    padding: 0;
  }
  
  /* ========================== LABEL DEPARTMENT/AGENT =========================== */
label#department, label#agent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

/* ========================== specifics on create ticket form (different from individual ticket) =========================== */

form.createticket fieldset#priority, form.createticket fieldset#hashtags.create-ticket, form.createticket label#department{
    padding: 0;
    margin-top: 0.7em;
}
