body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6f6e6e;
}


.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 1;
  overflow-y: scroll;
}
.navbar::-webkit-scrollbar {
  display: none;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link, .nav-submenu-wrapper, .nav-logout {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover , .nav-submenu-wrapper:hover , .nav-logout:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.nav-submenu-header {
  display: flex;
  align-items: center;
  height: 1em;
}

.nav-submenu {
  text-decoration: none;
  list-style: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
}



.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}


.nav-popup {
  z-index: 1;
  display: none;
  position: fixed;
  background-color: var(--bg-secondary);
  width: 100vw;
  height: fit-content;
  bottom: 5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav-popmenu {
  padding: 0;
  list-style: none;
  justify-content: center;
}

.nav-popup.active {
  display: block;
}

/* Small and medium screeens */
@media only screen and (max-width: 961px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link, .nav-submenu-wrapper {
    justify-content: center;
  }

  .nav-logout {
    display: none;
  }


  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 961px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .nav-icon {
    padding-left: 1em;
  }

  .navbar .logo {
    width: 5rem;
    transition: width 600ms;
  }
  
  /* for fixed scrolling */
  .navbar:hover .logo {
    position: fixed;
    width: 16rem;
    z-index: 1;
  }

  .navbar:hover .navbar-nav .logo + li {
    margin-top: 6.5rem;
  }

}

/* icons */
.nav-icon {
  text-decoration: none;
  color: #b6b6b6;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 64
}

.logo img {
  height: 100%;
  max-height: 72px;
  width: auto;
}

li.logo {
  background-color: #23232e;
}


.nav-submenu-wrapper.active {
  height: fit-content;
  align-items: start;
}
.nav-submenu-wrapper.active .nav-submenu-header {
  padding-top: 2.05rem;
}

.nav-submenu-wrapper.active .nav-submenu {
  display: block;
}

.nav-submenu-wrapper:not(.active) {
  height: 5rem;
  align-items: center;
}
.nav-submenu-wrapper:not(.active) .nav-submenu-header {
  padding-top: 0rem;
}

.nav-submenu-wrapper:not(.active) .nav-submenu {
  display: none;
}
