@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700&display=swap');


/* :root {
  --button-green: #4CAF50;
  --closed-red: #f44336;
} */

:root {
  --button-color: #846a8b;
  --button-hover: #a492a9;
}

.d-none {
  display: none;
}

body {
  margin: 0;
  font-family: 'Martel Sans', sans-serif;
  background-color: #dee2ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex: 1;
}


/*================= BUTTONS - GENERAL =================*/
button {
  background-color: #846a8b;
  color: white;
  font-size: 0.9rem; 
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}

button:hover {
  background-color: #a492a9;
}

/* =================== messages (error or success) =================== */

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}

/* -------------------- damn footer --------------------- */

footer {
  bottom: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  color: #846a8b;
  font-family: 'Martel Sans', sans-serif;
  align-self: flex-end;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/*================= LOGIN FORM DESIGN =================*/

body.landingbody {
  background-image: url('../css/images/fundo.jpg');
  background-size: cover;
  background-position: center center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 350px;
  height: fit-content;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1em;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 92%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  font-family: 'Martel Sans', sans-serif;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 0.8em;
  margin-top: 1em;
  background-color: #846a8b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #a492a9;
}

.login-form p {
  text-align: center;
  margin-top: 1em;
  font-size: 0.9em;
  margin-top: 1.5em;
}

/* .login-form a {
  color: #846a8b;
} */



a.register {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  margin-top: 1em;
  margin-left: 0.5em;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  background-color: #b4bdfc;
}

a.register:hover {
  background-color: #c8cefa;
}


/*--------- REGISTER FORM PAGE --------------*/

body.landingbody {
  background-image: url('../css/images/fundo.jpg');
  background-size: cover;
  background-position: center center;
}

.registerform {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  width: 400px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registerform h2 {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Martel Sans', sans-serif;
}

.registerform input[type="text"],
.registerform input[type="email"],
.registerform input[type="password"] {
  width: 92%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  font-family: 'Martel Sans', sans-serif;
}

.registerform input[type="text"]:focus,
.registerform input[type="email"]:focus,
.registerform input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.registerform .registerbuttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1em;
  gap: 1em;
}

.registerform .create:hover {
  background-color: #a492a9;
}

/* .registerform button.create {
  align-items: ;
} */

.registerform p {
  text-align: center;
  margin-top: 1em;
  font-family: 'Martel Sans', sans-serif;
}

.registerform a {
  color: #846a8b;
  font-family: 'Martel Sans', sans-serif;
  text-decoration: none;
}

.registerform a:hover {
  text-decoration: underline;
}



/*--------------------- SVG waves ----------------------------*/

.custom-shape-divider-top-1681308841 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1681308841 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1681308841 .shape-fill {
  fill: #846a8b;
}

/* ------------- tables on main page ------------------- */

table,
th,
td {
  border: 1px solid #846a8b;
  background-color: #dee2ff;
  border-collapse: collapse;
  padding: 0.5em;
}

.display-table {
  border-collapse: collapse;
  width: 100%;
}

.display-table caption {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.display-table th {
  text-align: left;
  background-color: #333;
  color: white;
  padding: 12px;
}

.display-table td {
  border: 1px solid #333;
  padding: 8px;
}

.display-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.display-table tr:hover {
  background-color: #ddd;
}

.display-table ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.display-table ul li {
  display: inline-block;
  margin-right: 5px;
  background-color: #ddd;
  padding: 3px 6px;
  border-radius: 3px;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}


.createticket {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  align-items: start; 
}

.createticket label {
  font-weight: bold;
}

.createticket input[type="text"],
.createticket select,
.createticket textarea {
  padding: 0.5rem;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.3); 
  font-size: 1rem;
  font-family: 'Martel Sans', sans-serif;
}

.createticket input[type="text"],
.createticket select {
  width: 95%;
}

.createticket textarea {
  width: 95%;
  resize: vertical;
}


.createticket label,
.createticket input[type="text"],
.createticket select,
.createticket textarea,
.createticket button[type='submit'] {
  grid-column: 1;
}


.createticket option {
  background-color: #f5f5f5;
  color:black;
}

.createticket input[type="text"],


/* .createticket button[type='submit'] {
  color: black;
} */

.createticket button.submit-ticket {
  background-color: #53536e;  
  color: white;
  border-radius: 10px;
  padding: 0.5em;
}


.createticket ::placeholder {
  color: #aaa;
}

.createticket fieldset#hashtags .create-ticket {
  padding: 0;
}


/* -----------------  profile page ---------------------- */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

div.password-change {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
} 

div.password-change label#oldpasswordlabel {
  margin-left: 0;
  width: 50%;
} 
div.password-change button#changepass  {
  margin-right: 0;
  width: fit-content;
  margin-bottom: 0.5rem;
}

h2#yourprofile {
  /*"Your profile"*/
  margin-bottom: 1rem;
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  width: fit-content;
  padding: 0.5rem;
  margin: auto;
}

.profile label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 100%;
}

.profile input {
  box-shadow: none;
  font-family: 'Martel Sans', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 98%;
  border: none;
  background-color: transparent;
}

.profile div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.profile div #save-btn{
  margin: 0 1rem;
}

.profile div #cancel-btn{
  margin: 0 1rem;
}


/* -------------- for JAVASCRIPT in profile edit page ------------------------ */

.profile input[readonly] {
  user-select: none;
  cursor: default;
}

.profile input[readonly]:focus {
  outline: none;
}



/* .profile button {
  background-color: #846a8b;
  color: white;
  font-size: 0.9rem; 
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  width: fit-content;
}

.profile button:hover {
  background-color: #a492a9;
} */


/* --------- MAIN PAGE CONTENT ---------- */

.mainpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
  gap: 10px 0px;
  grid-template-areas:
    "h1 h1"
    "h2 h2"
    "p1 p2"
    "p3 p3";
  justify-items: center;
  height: fit-content;
}

.mainpage h1 {
  grid-area: h1;
  justify-self: center;
  font-size: 3em;
  color:rgba(112, 78, 125, 0.562);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.mainpage h2 {
  grid-area: h2;
  align-items: end;
  text-align: center;
}

.mainpage p1 {
  grid-area: p1;
  display: flex;
  align-items: center;
  padding: 2.5em;
  text-align: center;
}

.mainpage p2 {
  grid-area: p2;
  display: flex;
  align-items: center;
  padding: 2.5em;
  text-align: center;
}

div.features {
  grid-area: p3;
  align-items: center;
  justify-self: center;
}


/*----------------- FAQ PAGE -----------------*/

#faqs {
  margin: 2rem;
}

/* FAQ form */

header.faq-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding: 20px;
  /* margin-left: 80px; */
}

header.faq-page h2.faq-header {
  margin-top: 0;

  margin-bottom: 1rem;
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  width: fit-content;
  padding: 0.5rem;
  margin: auto;
  margin-bottom: 1rem;
}

header.faq-page h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

header.faq-page p {
  font-size: 16px;
  margin-top: 0;
  text-align: center;
}

header.faq-page form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

.textarea-form label {
  font-size: 18px;
  font-weight: bold;
}

.textarea-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  font-family: 'Martel Sans', sans-serif;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}
/*ask button e answer button (propriedades iguais)*/
.textarea-form button, .faq button.answer-faq, .faq button.save-answer {
  margin-top: 0.5rem;
}



/* individual faq -> question and answer */
.faq {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

.faq .question {
  width: 90%;
  /* resize: vertical; */
  font-weight: bold;
  font-size: 0.9rem; 
  color: #333;
  display: block;
  font-family: 'Martel Sans', sans-serif;
}

.faq .answer {
  width: 90%;
  /* resize: none; */
  margin-top: 10px;
  font-size: 0.9rem; 
  color: #666;
  display: block;
  font-family: 'Martel Sans', sans-serif;
}

.edit-faq, .save-faq {
  position: absolute;
  top: 40px;
  right: 0;
}
.delete-faq {
  position: absolute;
  top: 0px;
  right: 0px;
}
.hide-faq {
  position: absolute;
  top: 73px;
  right: 0px;
}
.display-faq {
  position: absolute;
  top: 73px;
  right: 0;
}


/* faq icons for buttons */

button.display-faq span.material-symbols-outlined, button.hide-faq span.material-symbols-outlined{ 
  /* text-decoration: none; */
  color: #606081;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

button.edit-faq span.material-symbols-outlined, button.save-faq span.material-symbols-outlined{
  color: #606081;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

button.delete-faq span.material-symbols-outlined {
  color: #606081;
  margin-top: 1rem;
  margin-right: 0.5rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

button.delete-faq span.material-symbols-outlined:hover {
  color:#ff0000;
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

button.save-faq span.material-symbols-outlined:hover {
  color: #1f8036;
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

button.edit-faq span.material-symbols-outlined:hover, button.display-faq span.material-symbols-outlined:hover, button.hide-faq span.material-symbols-outlined:hover {
  color:rgba(112, 78, 125, 0.562);
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



/* button.display-faq span.material-symbols-outlined {
  padding: 0;
} */

button.display-faq, button.hide-faq, button.edit-faq, button.save-faq, button.delete-faq{
  border: none; 
  background-color: transparent;
}

article.faq {
  display: flex;
  flex-direction: column;
}

.faq input.answer {
  display: block;
}

.faq input.question {
  margin-right: 5.2rem;
}

/* individual faq buttons for javascript */
.faq input[readonly] {
  user-select: none;
  cursor: default;
}

.faq input[readonly]:focus {
  outline: none;
}


/* !WARNING: comentei isto por causa das classes sequintes para os inputs nas faqs*/

/* .faq input {
  border: none;
  background-color: transparent;
  box-shadow: none;
} */

.input-readonly {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  resize: none;
  outline: none;
}

.input-write {
  border: 1px solid rgba(51, 51, 51);
  border-radius: 5px;
  background-color: white;
  resize: vertical;
}


@media screen and (min-width: 768px) {
  .textarea-form button, button.answer-faq, button.save-answer, .profile button {
    width: 15%;
  }
}

/* ========================== FILTER TICKETS ========================== */

/* .filter {
  background-color: #ccc;
  padding: 2em;
  padding-bottom: 1rem;
  border-radius: 5px;
}

.filter .filter-header {
  margin-top: 0;
}

.filter-options legend {
  font-weight: bold;
} */

.filter {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px 20px 20px 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /*0 5px 15px rgba(112, 78, 125, 0.562);*/
}

.filter-header {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-options legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  flex-basis: 100%;
}

.filter-options input[type="checkbox"] {
  display: none;
}

.filter-options label {
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #555;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;  
  transition: background-color 0.2s ease-in-out;
}

.filter-options label:hover {
  background-color: #ddd;
}

.filter-options input[type="checkbox"]:checked + label {
  background-color: #846a8b;
  color: #fff;
}

.filter button {
  background-color: #846a8b;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 8px 16px;
  transition: background-color 0.2s ease-in-out;
}

.filter button:hover {
  background-color: #a492a9;
}

/* ================ RESPONSIVENESS (web e mobile) ================== */

/* For mobile devices -> ATÉ 600 */
/* @media only screen and (max-width: 600px) {

  body main {
    margin-bottom: 5rem;
  }

  .login-form, .registerform {
    width: 90%;
    height: auto;
    padding: 1em;
    border-radius: 5px;
  }

  .mainpage {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      "h1"
      "h2"
      "p1"
      "p2"
      "p3";
  }
  .mainpage p1, .mainpage p2 {
    padding: 1em;
  }
} */

/* For tablet and phone devices -> 600 A 961*/
@media only screen and (max-width: 961px) {

  main{
    font-size: calc(10px + 1vw);
  }

  body main {
    margin-bottom: 5rem;
  }

  .login-form, .registerform {
    width: 70%;
    height: auto;
    padding: 1.5em;
    border-radius: 5px;
  }

  .mainpage {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      "h1"
      "h2"
      "p1"
      "p2"
      "p3";
  }
  .mainpage p1, .mainpage p2 {
    padding: 1em;
  }
}

/* For desktop devices -> A PARTIR DE 961*/
@media only screen and (min-width: 961px) {
  body main div.mainpage {
    margin-bottom: 5rem;
  }

  body main {
    margin-bottom: 5rem;
    margin-left: 17rem;
    margin-right: 14rem;
  }

  .login-container {
    height: 100vh;
  }

  .login-form, .registerform {
    width: 30%;
    height: auto;
    padding: 2em;
    border-radius: 10px;
  }
}
/* ======================== FIELDSET STYLING ======================== */
fieldset {
  border: none;
}
fieldset legend {
  align-self: center;
  font-weight: bold;
}
fieldset#priority {
  display: flex;
  flex-direction: row;
  align-items: center;
}


fieldset#priority label.radio-button {
  background-color: #53536e;
  color: white;
  border: 1px solid white;
  font-size: 16px;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  flex-grow: 1;
  text-align: center;
}

fieldset#priority label:hover {
  opacity: 80%;
}

fieldset#priority input[type="radio"] {
  display: none;
}
fieldset#priority input[type="radio"]:checked + label.radio-button {
  background-color: black;  
  color: white;
}

/* ======================== DROPDOWN SELECT ======================== */
label select {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-left: 1em;

  font-size: 16px;
  border: 1px solid black;
  border-radius: 20px;
  font-family: 'Martel Sans', sans-serif;
  
  margin-top: 6px;
  margin-bottom: 1rem;
  /* color: white; */
  /* background-color: #23232e; */
  cursor: pointer;
}

/* ======================= TICKET INFO BUTTONS ======================= */
#ticket-info button {
  margin: 0.5em auto;
  padding: 0.2em 1em;
}

/* ============================= HASHTAGS =========================== */
#hashtag-items article.hashtag {
  border:rgba(0, 0, 0, 0.5) 1px solid;
  border-radius: 10px;
  background-color: #53536e;
  color: white;
  font-size: 1rem;
  text-align: center;
}

#hashtags .hashtag a.remove-hashtag {
  text-decoration: none;
  color: white;
  border-left: white 1px solid;
  padding: 0.3rem 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

/* ================================================================== */
