@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700&display=swap');


/* :root {
  --button-green: #4CAF50;
  --closed-red: #f44336;
} */

:root {
  --button-color: #846a8b;
  --button-hover: #a492a9;
}

.d-none {
  display: none;
}

body {
  margin: 0;
  font-family: 'Martel Sans', sans-serif;
  background-color: #dee2ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}


/* =================== messages (error or success) =================== */

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}

/* -------------------- damn footer --------------------- */

footer {
  bottom: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  color: #846a8b;
  font-family: 'Martel Sans', sans-serif;
  align-self: flex-end;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}


/* ------------- tables on main page -> to delete ------------------- */

table,
th,
td {
  border: 1px solid #846a8b;
  background-color: #dee2ff;
  border-collapse: collapse;
  padding: 0.5em;
}

.display-table {
  border-collapse: collapse;
  width: 100%;
}

.display-table caption {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.display-table th {
  text-align: left;
  background-color: #333;
  color: white;
  padding: 12px;
}

.display-table td {
  border: 1px solid #333;
  padding: 8px;
}

.display-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.display-table tr:hover {
  background-color: #ddd;
}

.display-table ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.display-table ul li {
  display: inline-block;
  margin-right: 5px;
  background-color: #ddd;
  padding: 3px 6px;
  border-radius: 3px;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}


.createticket {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  align-items: start; 
}

.createticket label {
  font-weight: bold;
}

.createticket input[type="text"],
.createticket select,
.createticket textarea {
  padding: 0.5rem;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.3); 
  font-size: 1rem;
  font-family: 'Martel Sans', sans-serif;
}

.createticket input[type="text"],
.createticket select {
  width: 95%;
}

.createticket textarea {
  width: 95%;
  resize: vertical;
}


.createticket label,
.createticket input[type="text"],
.createticket select,
.createticket textarea,
.createticket button[type='submit'] {
  grid-column: 1;
}


.createticket option {
  background-color: #f5f5f5;
  color:black;
}

.createticket input[type="text"],


.createticket button.submit-ticket {
  background-color: #53536e;  
  color: white;
  border-radius: 10px;
  padding: 0.5em;
}


.createticket ::placeholder {
  color: #aaa;
}

.createticket fieldset#hashtags .create-ticket {
  padding: 0;
}


/* ========= MAIN PAGE CONTENT ========= */

.mainpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
  gap: 10px 0px;
  grid-template-areas:
    "h1 h1"
    "h2 h2"
    "p1 p2"
    "p3 p3";
  justify-items: center;
  height: fit-content;
}

.mainpage h1 {
  grid-area: h1;
  justify-self: center;
  font-size: 3em;
  color:rgba(112, 78, 125, 0.562);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.mainpage h2 {
  grid-area: h2;
  align-items: end;
  text-align: center;
}

.mainpage p1 {
  grid-area: p1;
  display: flex;
  align-items: center;
  padding: 2.5em;
  text-align: center;
}

.mainpage p2 {
  grid-area: p2;
  display: flex;
  align-items: center;
  padding: 2.5em;
  text-align: center;
}

div.features {
  grid-area: p3;
  align-items: center;
  justify-self: center;
}



/* ========================== FILTER TICKETS ========================== */


.filter {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px 20px 20px 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

.filter-header {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-options legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  flex-basis: 100%;
}

.filter-options input[type="checkbox"] {
  display: none;
}

.filter-options label {
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #555;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;  
  transition: background-color 0.2s ease-in-out;
}

.filter-options label:hover {
  background-color: #ddd;
}

.filter-options input[type="checkbox"]:checked + label {
  background-color: #846a8b;
  color: #fff;
}

.filter button {
  padding: 0.5rem 1rem;
}

.filter button:hover {
  background-color: #a492a9;
}

/* ================ RESPONSIVENESS (web e mobile) ================== */

/* For mobile devices -> ATÉ 600 */
/* @media only screen and (max-width: 600px) {

  body main {
    margin-bottom: 5rem;
  }

  .login-form, .registerform {
    width: 90%;
    height: auto;
    padding: 1em;
    border-radius: 5px;
  }

  .mainpage {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      "h1"
      "h2"
      "p1"
      "p2"
      "p3";
  }
  .mainpage p1, .mainpage p2 {
    padding: 1em;
  }
} */

/* For tablet and phone devices -> 600 A 961*/
@media only screen and (max-width: 961px) {

  main{
    font-size: calc(10px + 1vw);
  }

  body main {
    margin-bottom: 5rem;
  }

  .login-form, .registerform {
    width: 70%;
    height: auto;
    padding: 1.5em;
    border-radius: 5px;
  }

  .mainpage {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      "h1"
      "h2"
      "p1"
      "p2"
      "p3";
  }
  .mainpage p1, .mainpage p2 {
    padding: 1em;
  }
}

/* For desktop devices -> A PARTIR DE 961*/
@media only screen and (min-width: 961px) {
  body main div.mainpage {
    margin-bottom: 5rem;
  }

  body main {
    margin-bottom: 5rem;
    margin-left: 17rem;
    margin-right: 14rem;
  }

  .login-container {
    height: 100vh;
  }

  .login-form, .registerform {
    width: 30%;
    height: auto;
    padding: 2em;
    border-radius: 10px;
  }
}
/* ======================== FIELDSET STYLING - create ticket ======================== */
fieldset {
  border: none;
}
fieldset legend {
  align-self: center;
}
fieldset#priority {
  display: flex;
  flex-direction: row;
  align-items: center;
}


fieldset#priority label.radio-button {
  background-color: #53536e;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  flex-grow: 1;
  text-align: center;
}

fieldset#priority label:hover {
  opacity: 80%;
}

fieldset#priority input[type="radio"] {
  display: none;
}
fieldset#priority input[type="radio"]:checked + label.radio-button {
  background-color: black;  
  color: white;
}

/* ======================== DROPDOWN SELECT ======================== */
label select {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-left: 1em;

  font-size: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  font-family: 'Martel Sans', sans-serif;
  
  margin-top: 6px;
  margin-bottom: 1rem;
  /* color: white; */
  /* background-color: #23232e; */
  cursor: pointer;
}

/* ======================= TICKET INFO BUTTONS ======================= */
#ticket-info button {
  margin: 0.5em auto;
  padding: 0.2em 1em;
}

/* ============================= HASHTAGS =========================== */
#hashtag-items article.hashtag {
  border:rgba(0, 0, 0, 0.5) 1px solid;
  border-radius: 10px;
  background-color: #53536e;
  color: white;
  font-size: 1rem;
  text-align: center;
}

#hashtags .hashtag a.remove-hashtag {
  text-decoration: none;
  color: white;
  border-left: white 1px solid;
  padding: 0.3rem 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

/* ================================================================== */
